target/
.idea/
.git/
.svn/
.settings/
src/main/webapp/WEB-INF/classes/
*.iml
*.ipr
*.iws
*.classpath
*.project
*.org.eclipse.core.resources.prefs
*.log
*.class
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar