<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailion.mass.booking.dao.OrderMapper">


    <insert id="insertOrder" parameterType="com.hailion.mass.booking.entity.OrderDO" >
        INSERT INTO m_order (
          id ,
          user_id,
          start_time ,
          create_time ,
          expect_time ,
          order_status ,
          order_type ,
          weight ,
          quantity ,
          scheme ,
          total_price )
        VALUES (#{orderId},#{userId},#{startTime},#{createTime},#{expectTime},#{orderStatus},#{orderType},#{weight},#{quantity},#{scheme},#{totalPrice});
    </insert>

    <delete id="deleteOrderById" parameterType="java.lang.String">
        DELETE FROM m_order  WHERE id = #{orderId};
    </delete>

    <select id="getOrder" parameterType="java.lang.String" resultType="com.hailion.mass.booking.entity.OrderDO">
        SELECT
            id AS orderId,
            user_id AS userId,
            start_time AS startTime,
            create_time AS createTime,
            expect_time AS expectTime,
            order_status AS orderStatus,
            order_type AS orderType,
            weight AS weight,
            quantity AS quantity,
            scheme AS scheme,
            total_price AS totalPrice
        FROM m_order WHERE id = #{orderId};
    </select>

    <select id="listOrder" resultType="com.hailion.mass.booking.entity.OrderDO">
        SELECT
            id AS orderId,
            user_id AS userId,
            start_time AS startTime,
            create_time AS createTime,
            expect_time AS expectTime,
            order_status AS orderStatus,
            order_type AS orderType,
            weight AS weight,
            quantity AS quantity,
            scheme AS scheme,
            total_price AS totalPrice
        FROM m_order ORDER BY create_time DESC;
    </select>
</mapper>